.wrapper {
	height: 80%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: var(--color-white);
}

.navList {
	display: flex;
	flex-direction: column;
}

.navItem {
	text-align: center;

	margin-block: 24px;
}

.link {
	color: var(--color-offblack);
	text-decoration: none;
}
